@import url("https://fonts.googleapis.com/css?family=Raleway:300,400");

* {
  font-size: 100%;
  font-family: Raleway, Helvetica, Arial, sans-serif;
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

ol,
ul {
  list-style-type: none;
  list-style: none;
}

hr {
	/* display: block; */
	/* position: relative; */
	/* padding: 0; */
	margin: 8px auto;
	/* height: 0; */
	width: 100vw;
	max-height: 0;
	font-size: 1px;
	line-height: 0;
	/* clear: both; */
	border: none;
	border-top: 0.5em solid #eec643;
	border-bottom: 0.5em solid #eec643;
	overflow: hidden;
 }

body {
  font-size: 1.25rem;
  line-height: 1.5;

  color: #eef0f2;
  background-color: #141414;
}

.flex-container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

/* testing */
/* .flex-container > * {
  border: 2px solid red;
} */

#main-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  color: #141414;
  background-color: #eec643;
}

#main-header hr {
	border-top: 1em solid #141414;
	border-bottom: 1em solid #141414;
  }

#site-title {
  font-size: 3rem;
}

#main-menu {
  padding: 0;
  display: flex;
  width: 90vw;
  justify-content: space-evenly;
  color: #eef0f2;
}

#main-menu li {
	font-weight: 400;
  	margin: 0 1em 0 1em;
}

#main-menu a {
  text-decoration: none;
  color: #141414;
}

#main-menu li a:hover{
	font-weight: 600;
}

.feature {
	display: flex;
	flex-direction: column;
	align-items: center;
  max-width: 900px;
  margin: 0.75em;
}

.feature h2 {
	color: #141414;
	font-size: 2rem;
	font-weight: 300;
	padding: 0 0.5em 0 0.5em;
}

.feature-header {
	background-color: #eec643;
	width: 100vw;
}

.feature-content {
	width: 90vw;
}

.pic-fit {
  max-width: 100%;
}

/* #contact {
} */

footer {
	display: flex;
	align-items: center;
	justify-content: center;
  width: 100vw;
  min-height: 80px;
  text-align: center;
  justify-content: baseline;
  background-color: #eec643;
  color: #141414;
}

/* Media Queries */
@media screen and (min-width: 768px) {

	#main-menu li {
		margin: 0 2em 0 2em;
	}

	.feature {
		display: flex;
		flex-direction: row;
		align-items: center;
		flex-wrap: wrap;
	  max-width: 900px;
	  margin: 0.75em;
	}
	
	.feature h2 {
		color: #141414;
		font-size: 2rem;
		font-weight: 300;
		padding: 0 0.5em 0 0.5em;
	}
	
	.feature-header {
		background-color: #eec643;
		width: 100vw;
	}
	
	.feature-content {
		display: flex;
		align-items: center;
		width: 90vw;
		flex: 1 1 auto;
	}

	.feature-content > * {
		padding: 0 0.5em 0 0.5em;
	}
	
	.pic-fit {
	  max-width: 50%;
	}
}
